---
import { META } from "../types";
const year = new Date().getFullYear();
---

<footer class="foot">
  <div class="shell">
    <span>&copy; {year} {META.author} &middot; Partin Thoughts</span>
    <span class="foot-links">
      <a href="/rss.xml">RSS</a>
      <a href="#">Colophon</a>
      <a href="#">Email</a>
    </span>
  </div>
</footer>
